@font-face {
  font-family: 'iconfont';  /* project id 527781 */
  src: url('http://at.alicdn.com/t/font_527781_161b8o2l9iq6ko6r.eot');
  src: url('http://at.alicdn.com/t/font_527781_161b8o2l9iq6ko6r.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_527781_161b8o2l9iq6ko6r.woff') format('woff'),
  url('http://at.alicdn.com/t/font_527781_161b8o2l9iq6ko6r.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_527781_161b8o2l9iq6ko6r.svg#iconfont') format('svg');
}
.iconfont {font-family: "iconfont" !important;
			font-size: 16px;font-style: normal;-webkit-font-smoothing: antialiased;
			-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;
			color: #707473;
		}
*,:before,:after{ margin:0; padding:0; box-sizing:border-box;}
html,body,div,p,ul,li,ol,dl,dt,dd,a,img,b,i,em,strong,span,h1,h2,h3,h4,h5,h6,form,input,select,label,textarea,button,fieldset,legend,optgroup,blockquote,sub,sup,pre,table,tr,td,th,tbody,thead,tfoot,u,s,caption,nav,header,article,section,footer,aside,figure,figcaption,audio,video,source{ margin:0; padding:0;}

h1,h2,h3,h4,h5,h6,em,i,strong,b{ font-weight:normal; font-style:normal;font-size:100%;}

ul,ol,li{ list-style:none;}

fieldset,img{ border:0 none;vertical-align: middle;/*垂直居中*/}
table{ border-collapse:collapse;/*边线重叠*/ border-spacing:0;}
input, select, textarea { font: 12px/20px  Arial, "微软雅黑";}
input,button,select,textarea{ outline:none}
:foucs{ outline:none;}/*表单获得焦点，去掉蓝色框线*/
/*超链接*/
a {text-decoration: none; }
a:link, a:visited{text-decoration: none;}
a:hover {text-decoration:none;}
a:active { text-decoration: none;}
.header{width: 100%;height: 50px;background:#F7EAD1;}
.header .header-wrap{width:980px;height:50px; margin:0 auto}
.header-wrap img{width:980px;height:50px;}
.middle{width: 100%;height: 662px;}
.middle .user-all{width: 1200px;height: 662px;margin:0 auto;background:white;}
.user-all-top{width: 1200px;height: 115px;position: relative;}
.user-all-top img{margin-top:27px;float: left}
.user-all-top h1{position: absolute;top:55px;left: 210px;font-size: 24px;}
.user-all-top span{position: absolute;right: 0px;top: 60px;}
.user-all-top span a{font-size: 13px;padding: 0 3px;color: #333}
.user-all-top span a:hover{color: #CF000E}
.user-register{width: 1200px;height: 545px;border: 1px solid #ccc;margin-bottom: 40px;}
.user-register .user-register-left{width: 768px;height: 457px;margin: 40px 0 0 20px;float: left;border-right: 1px solid #ccc}
.user-register .user-register-left p{width: 768px;height: 42px;line-height: 42px;margin-bottom: 22px;position: relative;}
.user-register .user-register-left p input{width: 308px;height: 42px;outline: none;border: 0 none;border: 1px solid #ddd;
	padding-left: 10px;}
.user-register .user-register-left p input:hover{border: 1px solid red;}
.tips{width: 100px;display: inline-block;text-align: right;font-size: 14px;}
.red{color: red;}
.code{position: absolute;left:295px;top:10px;width: 61px;height: 27px;cursor: pointer;}
.change-one{position: absolute;left:365px;top:5px;font-size: 12px;color: #4a92f5}
.read{font-size: 12px;margin-left: 105px;position: relative;}
.read a{color:#4a92f5;}
.read a:hover{color:#CF000E;}
.read span{color: #999;margin-left: 20px;}
.read input{position: absolute;top:0px;}

.user-register-pass{width: 308px;height: 42px;line-height: 42px;text-align: center;color: white;
	font-size: 16px;background: #cd000e;border: 0 none;cursor: pointer;margin-left: 105px;margin-top: 20px;}
.user-register-pass a{color: white;}

.user-register .user-register-right{width: 220px;height: 463px;margin: 40px 0 0 0px;float: left;margin-left: 100px;}
.user-register-right-ok{width: 220px;height: 73px;line-height: 73px;text-align: center;border-bottom: 1px solid #ddd;}
.user-register-right-ok a{width: 70px;height: 30px;line-height: 30px; background: #cf000e;border-radius: 4px;display: inline-block;color: white;font-size: 14px;}
.user-register-right-code{width: 220px;height: 300px;text-align: center;;border-bottom: 1px solid #ddd;position: relative;}
.user-register-right-code img{width: 120px;height: 120px;position: absolute;top: 30px;left: 50%;margin-left: -60px;}
.user-register-right-code p{font-size: 13px;position: absolute;top: 170px;left:40px;}

.user-register-right-cooper{font-size: 12px;color: #888;margin-top:10px;width: 218px;height:80px;position: relative;}
.user-register-right-cooper p{padding-bottom: 10px;}
.user-register-right-cooper i{font-size: 28px;margin-right:10px;}

.kongbai{width: 100%;height: 40px;background: white}

.icon{width: 100%;height: 150px;background: #F8F8F8;}
.icon{width: 100%;height: 152px;margin: 0 auto;}
._view_{width: 1190px;height: 80px;margin: 0 auto;}
.icon a{width: 168px;height: 80px;display: block;float: left;text-align: center;text-decoration: none;margin-top: 40px;}
.icon i{width: 100%;height: 100%;font-size: 32px;color:#cf000e;}
.icon span{width: 100%;display: inline-block;color: #000;font-size: 14px;text-align: center;margin-top:10px;}

.footer{width: 100%;height: 97px;background: #1f1f1f;}
.footer-copyright{width: 1190px;height: 97px;border: 1px solid transparent;
	font-size: 12px;color: #999;margin-left: 5px;line-height:25px;position:relative;margin: 0 auto;padding-top: 20px;}
.footer-copyright .copyrights li a{text-decoration: none;color: #999;margin-right: 3px;}
.footer-copyright .copyrights li a:hover{color:#cf000e;}
.footer-copyright .credit{width: 388px;height: 40px;float: right;position: absolute;top:5px;right: 0px;}
.footer-copyright .credit li{width: 97px;height: 40px; float: left;line-height: 40px;}
.footer-copyright .credit a{text-decoration: none;color: #999}
.footer-copyright .credit a:hover{color:#cf000e;}
.footer-copyright .credit li i{color:#cf000e;font-size: 22px; float: left;margin-top: 20px;}
.footer-copyright .credit li span{width:65px;height: 40px;line-height: 40px;float: left;margin-left: 5px;
	font-size: 12px;margin-top: 20px;}

#FchatMsg {z-index: 298;width: 145px;height:90px;background: url(../images/img.png) no-repeat;background-position-x: 0%;
background-position-y: 0%;background-position: 0 -1022px;position: relative;padding: 12px;position: fixed;right:2px;top: 115px;}
#FchatMsg .msg_title {font-size: 14px;color: #333;}
#FchatMsg a {font-weight: bold;font-size: 13px;color: #e5134e;}

#sidebar-container {position: fixed;z-index: 298;right: 25px;top: 210px;width: 72px;}
#sidebar-list {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;}
#sidebar-list li {position: relative;color: #808080;margin-bottom:10px;background: none;}
#sidebar-list li .prompt {opacity: 0;right: 100px;top: 20px;position: absolute;color: #FFFFFF;line-height: 36px;
text-align: center;width: 152px;height: 36px;background-image: url(../images/img.png);background-position: 0 -1116px;}
#sidebar-list .kefu .content {height: 79px;background-position: 0 -439px;}
#sidebar-list .address-show .content {height: 72px;background-position: 0 -517px;}
#sidebar-list .cart-show .content {height: 72px;background-position: 0 -806px;}
#sidebar-list .content {width: 72px;height: 72px;cursor: pointer;background: url(../images/img.png) no-repeat;}
#sidebar-list li .name {width: 100%;text-align: center;position: absolute;bottom: 8px;font-size: 12px;}
#sidebar-list .cart-show .num {color: #FFFFFF;background-color: #ff5a65;position: absolute;top: 12px;right: 15px;border-radius: 8px;
text-align: center;line-height: 16px;padding: 0 4.5px;}
#sidebar-list .kefu .content:hover{height: 79px;background-position: 0 -360px;color: white}
#sidebar-list .address-show .content:hover{height: 72px;background-position: 0 -734px;color: white}
#sidebar-list .cart-show .content:hover{height: 72px;background-position: 0 -144px;color: white}

